
<div id="menuToggle-design">
    <input type="checkbox">
    <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
    <nav class="nav-menu">
      <div class="nav1-design">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/design">Design</a>
        <a href="/contact">Contact</a>
        <a id="searchnav" href="search.html">Search</a>
        <a id="Signupnav" href="/login">SignUp</a>
        <a id="admin-dash" href="dashboard.html">Admin</a>
      </div>
      </div>
    </nav>
</div>
