<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <script src="https://kit.fontawesome.com/854a317bd6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css"/>
    <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

</head>

<body>

    <div class="intro"></div>
    <div class="back">
        <img class="inbackimg" src="./images/The_Press_Intro_Image_4.webp">
    </div>

    <div id="menuToggle">
        <input type="checkbox">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <nav class="nav-menu">
          <div class="nav1">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="design.html">Design</a>
            <a href="contact.html">Contact</a>
            <a id="searchnav" href="search.html">Search</a>
            <a id="Signupnav" href="reg.html">SignUp</a>
          </div>
          </div>
        </nav>
    </div>
    




    
    <div class="container" id="container">
        <div class="form-container signup-form">
                <form id="myForm"  method="post" action="/login.ejs">
                <div class="title">Sign Up</div>
                <div class="Social-cont">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span class="intitle">or use email for registration</span>
                <br>             
                <input class="init" type="text" name="username" placeholder="Username" id="username">
                <div id='nameErr' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er1"></i>
                <input class="init" type="text" name="email" placeholder="Email" id="email"/>
                <div id='emailErr' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er2"></i>
                <input class="init" type="text" id="phonee" name="phone" placeholder="Phone">
                <div id='phoneerr' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er3"></i>
                <input class="init" type="password" name="pass" placeholder="Password" id="pass">
                <div id='passErr' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er4"></i>
                <input class="init" type="password" name="pass1" placeholder="Confirm-Password" id="cpass">
                <div id='passcErr' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er5"></i>
                <div class="checkbox-wrapper-33">
                    <label class="checkbox">
                      <input type="checkbox" class="checkbox__trigger visuallyhidden" id="checker" name="Role">
                      <span class="checkbox__symbol">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 28 28" height="28px" width="28px" class="icon-checkbox" aria-hidden="true">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                      <p class="checkbox__textwrapper">Admin</p>
                    </label>
                  </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>





        
        <!-- ------------------------------   signin  ------------------------------------- -->
        <div class="form-container signin-form">
              <form id="myForm1"  method="post" action="/login.ejs">
                <div class="title">Sign In</div>
                <div class="Social-cont">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span class="intitle">or use your account</span>
                <br>
                <input class="init" name="username_in" type="text" placeholder="UserName" id="username_in">
                <div id='nameErr_in' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er1_in"></i>

                <input class="init" name="password_in" type="password" placeholder="Password" id="password_in">
                <div id='passErr_in' class='err'></div>
                <i class="error-icon fas fa-exclamation-circle" id="er2_in"></i>
                <button class="forgetpass" onclick=" return forget()">Forget Password</button>
                <button type="submit"> Sign In</button>
                
            </form>
            <form id="myForm2"  method="post" action="/login.ejs">
              <div class="title spaces">Forget Password</div>
              <div class="Social-cont">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span class="intitle">or use your account</span>
            <br>

            <input class="init" name="Email" type="text" placeholder="Email" id="Email">
            <div id='Emailerr' class='err'></div>
            <i class="error-icon fas fa-exclamation-circle" id="err1"></i>
            <button type="submit"> Send Email</button>
            <button class="bbt12" onclick="return signin()">Back</button>
            </form>



            




            <!-- <script>
              const socket=io("http://localhost:5000/");
              socket.on("connection");

              function forget()
              {


              }

            

              socket.on("message",(global,Role,page)=>{//4
                const signupButton=document.getElementById("signup");
                const signinButton=document.getElementById("signin");
                const container =document.getElementById("container");
                if(page==="signin")
                {
                if(global===false)
                {
                  document.getElementById('nameErr_in').innerHTML='Invalid UserName';
                  document.getElementById('er1_in').style.opacity='1';
                  document.getElementById('passErr_in').innerHTML='Invalid Password';
                  document.getElementById('er2_in').style.opacity='1';
                  conuter++;
                  
                  setTimeout(() => {
                    container.classList.add("right1-pannel-active");
                  }, 1200);
                  
                }
                else
                {
                  document.getElementById('nameErr_in').innerHTML='';
                  document.getElementById('er1_in').style.opacity='0';
                  document.getElementById('passErr_in').innerHTML='';
                  document.getElementById('er2_in').style.opacity='0';
                  sessionStorage.setItem('ongo', Role);
                }
              }
              else
              {
                document.getElementById('nameErr').innerHTML='Username is already taken';
                document.getElementById('er1').style.opacity='1';
                document.getElementById('emailErr').innerHTML='Email is already taken';
                document.getElementById('er2').style.opacity='1';
              } 
              });

             const sendmessage=(form)=>//1
             {
              const username=form.username_in.value;
              const password=form.password_in.value;
              socket.emit("message",username,password,"anything","anything","signin","anything");
             }



            //  -----------------------------------validation for signup------------------------------------
             const validate=(form)=>
             {
              const username=form.username.value;
              const email=form.email.value;
              const phone=form.phone.value;
              const pass=form.pass.value;
              const pass1=form.pass1.value;

              let fail=true;
              fail&=validateUserName(username);
              fail&=validateEmail(email);
              fail&=validatePhone(phone);
              fail&=validatepass(pass,pass1);
              if(fail)
              {
              let ongo=adorus();
              sessionStorage.setItem('ongo', ongo.valueOf());
              socket.emit("message",username,email,phone,pass,"signup",form.Role.checked);
              return true;

              }
              else{
                adorus();
                return false;
              }
             }
             function adorus()
              {
                  let checkbox=document.getElementById("checker");
                  if(checkbox.checked)
                  {
                      return "admin"
                  }
                  else{
                      return "user"
                  }
                }   
              function validateUserName(field){
                  if(field=='')
                  {
                      document.getElementById('nameErr').innerHTML='You Must Enter a UserName.';
                      document.getElementById('er1').style.opacity='1';
                      return false;
                  }
                  else{
                      document.getElementById('nameErr').innerHTML='';
                      document.getElementById('er1').style.opacity='0';
                      return true;
                  }
              }
              function validateEmail(input) {

                  const validRegex = /^(.+)@(.+)$/;
                
                  if (!validRegex.test(input) ) {
                      document.getElementById('emailErr').innerHTML='Check your email.';
                      document.getElementById('er2').style.opacity='1';
                      return false;
                  }
                  else{
                  document.getElementById('emailErr').innerHTML='';
                  document.getElementById('er2').style.opacity='0';
                  return true;
                  }
              }
              function validatePhone(input) {
                  const phoneno = /^\d{11}$/;
                  if(!phoneno.test(input))
                  {
                      document.getElementById('phoneerr').innerHTML='Check your Phone number.';
                      document.getElementById('er3').style.opacity='1';
                      return false;
                  }
                  else{
                      document.getElementById('phoneerr').innerHTML='';
                      document.getElementById('er3').style.opacity='0';
                      return true;
                      }
              }
              function validatepass(input1,input2){
                  let check=true;
                  if(input1=='')
                  {
                      check=false;
                      document.getElementById('passErr').innerHTML='Check Your Password';
                      document.getElementById('er4').style.opacity='1';
                  }
                  else{
                      document.getElementById('passErr').innerHTML='';
                      document.getElementById('er4').style.opacity='0';
                  }
                  if(input1.length<=2)
                  {
                      check=false;
                      document.getElementById('passErr').innerHTML='Check Your Password must be 8 char';
                      document.getElementById('er4').style.opacity='1';
                  }
                  else{
                      document.getElementById('passErr').innerHTML='';
                      document.getElementById('er4').style.opacity='0';
                  }
                  if(input1!=input2||input2=='')
                  {
                      check=false;
                      document.getElementById('passcErr').innerHTML='Check Your Confirm Password';
                      document.getElementById('er5').style.opacity='1';
                  }
                  else{
                      document.getElementById('passcErr').innerHTML='';
                      document.getElementById('er5').style.opacity='0';
                  }
              return check;
              }


            </script> -->


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	          <script src="https://code.jquery.com/jquery-3.6.0.min.js"
		        integrity=
		        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		        crossorigin="anonymous">
	          </script>
            
   
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-pannel left1">
                    <div class="title">Welcome to ReEstate</div>
                    <p class="intitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         empore, at dolore
                        ipsa atque est consequuntur temporibus!</p>
                        <button class="press1" id="signin">Sign In</button>
                        </div>
                        <div class="overlay-pannel right1">
                            <div class="title">Welcome to ReEstate</div>
                            <p class="intitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                 empore, at dolore
                                ipsa atque est consequuntur temporibus!</p>
                                <button class="press1" id="signup">Sign Up</button>
                               
                </div>
            </div>
        </div>
      </div>
      
        
    
</body>
</html>
<script src="/scripts/signup.js"> </script>
<script src="/scripts/signin.js"> </script>
<script src="/scripts/signin_up_error.js"> </script>




























<script>
    const cursor = new MouseFollower({
      el: null,
      container: document.body,
      className: "mf-cursor",
      innerClassName: "mf-cursor-inner",
      textClassName: "mf-cursor-text",
      mediaClassName: "mf-cursor-media",
      mediaBoxClassName: "mf-cursor-media-box",
      iconSvgClassName: "mf-svgsprite",
      iconSvgNamePrefix: "-",
      iconSvgSrc: "",
      dataAttr: "cursor",
      hiddenState: "-hidden",
      textState: "-text",
      iconState: "-icon",
      activeState: "-active",
      mediaState: "-media",
      stateDetection: {
        "-pointer": "a,button",
        "-hidden": "iframe"
      },
      visible: true,
      visibleOnState: false,
      speed: 1,
      ease: "expo.out",
      overwrite: true,
      skewing: 0,
      skewingText: 0,
      skewingIcon: 2,
      skewingMedia: 2,
      skewingDelta: 0.001,
      skewingDeltaMax: 0.15,
      stickDelta: 0.15,
      showTimeout: 20,
      hideOnLeave: true,
      hideTimeout: 300,
      hideMediaTimeout: 300,
    });
  </script>

