
  .popular__card{
    background-color: rgb(255, 255, 255);
    border: 1px solid  rgb(236, 236, 236);
    border-radius: 5%;
    max-width: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
.photo1 {
    margin: 0 auto;
    align-self: center;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .photo1 img {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .photo1:hover img {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    transform: scale(1.03);
  }
  
  .photo1:hover .img1text {
    -webkit-opacity: 1;
    opacity: 1;
  } 
  .img1text {
    color: white;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .popular__img{
    width: 100%;
    height: 40%;
  }
 .popular__title{
    padding: 5px 10px 2px 20px ;
 }
 h3{
    color:rgb(33, 36, 39);
    font-size: 25px;
 }
 .popular_price{
    padding: 5px 20px 5px 22px ;
 }
 .popular__description{
    padding: 2px 0px 5px 20px ;
    color: rgb(33, 36, 39);
    font-size: 25px;
 }
 .line{
    width: 100%;
    height: 1px;
    background-color: rgb(236, 236, 236);
 }
 .inner-details{
 margin-top: 16px;
 display: flex;
 gap: 0px 5px; 
 padding: 10px;
 }
.bed{
    width: 50px;
    height: 50px;
}
.bath{
    width:50px;
    height:50px;
}
.bath-details{
    display: flex;
    grid-template-columns: 1fr 25px;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}
.bed-details{
    display: flex;
    grid-template-columns: 1fr 25px;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}
.number{
    font-weight: bold;
    font-size: 15px;
}
.vl{
    border: 1px solid gray;
    height: 20px;
    border-radius: 5px;
    margin-top: 15px;
}
#meter{
    border-radius: 35px;
        border: 1px solid rgb(45, 45, 45);
        width: 58px;
        height: 1px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(33, 36, 39);
        text-align:center;
        padding-bottom: 20px;
        margin-top: 15px;
        font-weight: bold;
}
.relator{
    display: flex;
    grid-template-columns: 25px 1fr;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    margin-bottom: 20px;
}
.info{
    display: block;
    font-size: 15px;
   margin-left: 25px;

}
.channel{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-left: 25px;
    margin-top: 15px;
}
.relator-info
{
    display: flex;
    grid-template-columns: 25px 25px;
    flex-direction: column;
    row-gap: 0.2rem;
    align-items: center;
    margin-top: 15px;
}
.author{
font-size: 20px;
font-weight: bold;
}
