@font-face {
    font-family: 'BW Gradual';
    src: url(fonts/BwGradualDEMO-Light.ttf);
}

@font-face {
    font-family: 'BW Gradual Bold';
    src: url(fonts/BwGradualDEMO-Bold.ttf);
}

@font-face {
    font-family: 'Degular';
    src: url(fonts/Degular-Light.ttf);
}

body {
    font-family: 'BW Gradual';
    background: #F2F2F2;
    font-size: large;
}
.section-p1{
    padding: 40px 80px;
    
}
* {
    font-family: 'BW Gradual';
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.intro
    {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #171717;
        transition: 1s;
    }
    
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


section {
    padding: 2rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:  #7c142c;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.btn-list{
    font-size: 1.7rem;
    color: #fff;
    background-color:  #7c142c;
    padding: .3rem 1.5rem;
}
.btn:hover {
    font-size: 1.5rem;
}

.left-side{
    padding-left: 223px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 204px;
}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 82px;
}
li{
    margin-right: 60px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Degular';
    color: #FCFCFC;
}
#slider {
    position: relative;
}
.logo{
    padding-left: 14px;
    padding-bottom: 2px;
    color: black;
} 
    #details {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;
        width: 100%;
    }
.container2{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.block-wrap {
padding: 40px;
background-color: #fff;
margin-top: 30px;
border-radius: 10px;
width: 100%;
}
.block-title-wrap{
    border-bottom: 1px solid #dce0e0;
    margin-bottom: 25px;
    padding-bottom: 20px;

}
.block-title-wrap h2 {
    font-size: 18px;
}
.Title {
    font-family: 'BW Gradual Bold';
    font-size: 40px;
    color: #333;
    position: relative;
    font-weight: bold;
  text-align: center;
}

.location {
    font-family: 'BW Gradual Bold';
    font-size: 20px;
    padding-left: 20px;
    color: #d6d6d6;
    margin-top: 30px;
}
.Price {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}


.DetailedInfo{
    display: flex;
    flex-direction: column;
}
.PInfo {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
ul {
    list-style-type: none;
    padding-left: 10px;

  }
  li{
    padding-top: 7px;
  }
.offer {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }
    .Property-view{
      display: flex;
      flex-direction: row;
    font-size: 16px;
    gap: 10px;
    color: #555;
    align-items: center;
    }
    .offer h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }
    .perks{
        display: flex;
        flex-direction: row;
    }
.perk-img
 {
    width: 20px;
    height: 20px;
}
.detail-wrap-table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: space-evenly;
  }
  .detail-wrap-table .rowData {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    font-family: 'BW Gradual Bold';
    font-size: 18px;
    color: rgb(33, 36, 39);
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 0px 0px 0.5px;
  }
  
  .detail-wrap-table .rowData div {
    width: calc(50%);
}
  
.Description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
.channel {
    width: 45px;
    height: 50px;
    border-radius: 50%;
}
.block-title-wrap-host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dce0e0;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.host {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}
.host-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
.image-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-img{
    width: 20px;
    height: 20px;
}
.personal-details{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.spi img{
    border-radius: 10px;
}
.small-img-col img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.small-img-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#details .spd{
width: 85%;
}
#details .spd h4{
    padding: 40px 0 20px 0;
}
#details .spd h2{
    font-size: 26px;

}
#details .spd span{
line-height: 25px;
}

#product{
    text-align: center;
    margin-top: 25px;
}
#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 1rem;
    cursor: pointer;
    margin: 15px 0px;
transition: 0.2s ease;
position: relative;
}
#product h2{
   font-family:'BW Gradual Bold';
}

#product .pro img{
    width: 100%;
    border-radius: 1rem;
    

}
#product .pro .des{
text-align: start;
padding: 10px 0;
}
#product .pro .des span{
font-size: 12px;
}
#product .pro .des h5{
padding-top: 7px ;

    font-size: 14px;
    }
    #product .pro .des i{
        font-size: 12px;
        color: black;
        }
        #product .pro .des h4{
            padding-top:7px;
            font: size 15px;
            font-weight: 700;
            }
            #product .pro .des .cart{
                width:40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50px;
                font-weight: 500;
               
                }
                #product .pro-container{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 20px;
                    flex-wrap: wrap;
                }
                section-m1{
                    margin :40px 0;
                }
                #banner{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center ;
                    text-align: center;
                    width: 100%;
                    height: 40vh;
                    background-size: cover;
                    background-position: center;
                    margin-top: 30px;
                }
                #banner h4{
                    color: #fff;
                    font-size: 16px;
                }
                #banner h2{
                    color: #fff;
                    font-size: 30px;
                    padding: 10px 0;
                }
              
                .container {
                    max-width: 1200px;
                    margin: 0 auto;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
 .mySlides {display:none;
    width: 50%;
 }
        
.w3-badge {height:15px;width:15px;padding:0}        
.w3-left,
.w3-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: black;
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 50%;
}

.w3-left {
  left: 100px;
}

.w3-right {
  right: 280px;
} 

.comments-section {
    margin-bottom: 20px;
    padding-top: 25px
}
  .comment-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .comment-list {
    list-style-type: none;
    padding-top: 10px;
  }
  .comment-list li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Degular';
  }  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #7c142c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .success-message {
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-top: 10px;
  }
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 120px; /* Adjust the height as needed */
  }
  #map {
    height: 500px;
    width: 95%;
    margin-left: 3%;
  }