@font-face {
    font-family: 'BW Gradual';
    src: url(fonts/BwGradualDEMO-Light.ttf);
}

@font-face {
    font-family: 'BW Gradual Bold';
    src: url(fonts/BwGradualDEMO-Bold.ttf);
}

@font-face {
    font-family: 'Degular';
    src: url(fonts/Degular-Light.ttf);
}

body {
    font-family: 'BW Gradual';
    background: #F2F2F2;
    font-size: large;
}
.section-p1{
    padding: 40px 80px;
    
}
* {
    font-family: 'BW Gradual';
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.intro
    {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #171717;
        transition: 1s;
    }
    
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


section {
    padding: 2rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:  #7c142c;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.btn:hover {
    font-size: 1.5rem;
}

.left-side{
    padding-left: 223px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 204px;
}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 82px;
}
li{
    margin-right: 60px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Degular';
    color: #FCFCFC;
}
#slider {
    position: relative;
}
.logo{
    padding-left: 14px;
    padding-bottom: 2px;
    color: black;
} 

    #details {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;
        width: 100%;

    }
   
#details .spi{
    width: 70%;
    margin-left: 100px;
}
#MainImg{
    width: 100%;
     border-radius: 10px;
}
.container2{
    display: flex;
    flex-direction: column;
margin-left: 10%;
}
.block-wrap {
padding: 40px;
background-color: #fff;
margin-top: 30px;
border-radius: 10px;
}
.block-title-wrap{
    border-bottom: 1px solid #dce0e0;
    margin-bottom: 25px;
    padding-bottom: 20px;

}
.block-title-wrap h2 {
    font-size: 18px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
 }

.Title {
    font-family: 'BW Gradual Bold';
    font-size: 32px;
    color: #333;
    position: relative;
    font-weight: bold;
}

.location {
    font-family: 'BW Gradual Bold';
    font-size: 20px;
    color: #aeaeae;
}
.Price {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}


.DetailedInfo{
    display: flex;
    flex-direction: column;
}
.PInfo {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
ul {
    list-style-type: none;
  }
  li{
    padding-top: 5px;
  }
.offer {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }
    .offer h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }
    .perks{
        display: flex;
        flex-direction: row;
    }
.perk-img,
.perk-img1 {
    width: 30px;
    height: 30px;
}

.Description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
.channel {
    width: 45px;
    height: 50px;
    border-radius: 50%;
}
.number {
    font-size: 16px;
    color: #555;
}
.host {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.spi img{
    border-radius: 10px;
}
.small-img-col img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.small-img-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#details .spd{
width: 85%;
}
#details .spd h4{
    padding: 40px 0 20px 0;
}
#details .spd h2{
    font-size: 26px;

}
#details .spd span{
line-height: 25px;
}

#product{
    text-align: center;
    margin-top: 25px;
}
#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 1rem;
    cursor: pointer;
    margin: 15px 0px;
transition: 0.2s ease;
position: relative;
}
#product h2{
   font-family:'BW Gradual Bold';
}

#product .pro img{
    width: 100%;
    border-radius: 1rem;
    

}
#product .pro .des{
text-align: start;
padding: 10px 0;
}
#product .pro .des span{
font-size: 12px;
}
#product .pro .des h5{
padding-top: 7px ;

    font-size: 14px;
    }
    #product .pro .des i{
        font-size: 12px;
        color: black;
        }
        #product .pro .des h4{
            padding-top:7px;
            font: size 15px;
            font-weight: 700;
            }
            #product .pro .des .cart{
                width:40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50px;
                font-weight: 500;
               
                }
                #product .pro-container{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 20px;
                    flex-wrap: wrap;
                }
                section-m1{
                    margin :40px 0;
                }
                #banner{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center ;
                    text-align: center;
                    width: 100%;
                    height: 40vh;
                    background-size: cover;
                    background-position: center;
                    margin-top: 30px;
                }
                #banner h4{
                    color: #fff;
                    font-size: 16px;
                }
                #banner h2{
                    color: #fff;
                    font-size: 30px;
                    padding: 10px 0;
                }
              
                .container {
                    max-width: 1200px;
                    margin: 0 auto;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }


